<form
  [formGroup]="formUsuario"
  (ngSubmit)="updateUsuario()"
  class="needs-validation"
>
  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Crear Usuario</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div>
      <div class="form-group">
        <label>Nombre</label>
        <input
          required

          formControlName="nombre"
          type="text"
          class="form-control"
          placeholder="Ingrese Nombre"
        />
      </div>

      <div class="form-group">
        <label>Apellido</label>
        <input
          formControlName="apellido"
          type="text"
          class="form-control"
          placeholder="Ingrese Apellido"
        />
      </div>

      <div class="form-group">
        <label>Email</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Ingrese Email"
        />
      </div>

      <div class="form-group">
        <label>Estado</label>
        <select formControlName="estado" class="form-control">
          <option value="" selected>Seleccione Estado</option>
          <option value="A">Activo</option>
          <option value="I">Inactivo</option>
        </select>
      </div>

      <div class="form-group">
        <label>Rol</label>
        <select
          formControlName="rol"
          class="form-control"
        >
          <option value="" selected>Seleccione Rol nuevo</option>
          <option *ngFor="let rol of roles" [value]="rol.idRol">{{rol.nombre}}</option>
        </select>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="irUsuario()">
      Volver
    </button>
    <button
      type="submit"
      data-bs-dismiss="modal"
      [disabled]="formUsuario.invalid"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</form>
