<button *ngIf="!mostrarBtnSeleccionarRol"
  class="btn btn-outline-info "
  data-bs-toggle="modal"
  data-bs-target="#SelectRol"
>
  Seleccionar Rol
</button>

<button *ngIf="!mostrarBtnSeleccionarRol"
        (click)="cancelar()"
        class="btn btn-outline-danger"
>
  Cancelar
</button>
<form class="needs-validation">
  <div
    class="modal fade"
    id="SelectRol"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><b>Seleccione un rol para iniciar sesión</b></h5>
        </div>

        <div class="modal-body">
          <div class="form-row">
            <div *ngFor="let rol of user?.authorities">
              <button
                type="submit"
                data-bs-dismiss="modal"
                class="btn btn-outline-info"
                (click)="seleccionarRol(rol.authority)"
              >
                Inciar como {{ rol.authority }}
              </button>
              <br/>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</form>

