<nav class="navbar navbar-expand-lg navbar-light bg-info ">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/home" type="button"
          >Home
        </a>
      </li>
    </ul>
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
        Search
      </button>

      <button class="btn btn-outline-light my-2 my-sm-0" (click)="CerrarSession()">
        Cerrar Session
      </button>
    </form>
  </div>
</nav>
