<title>Lista de Usuarios</title>
<br>
<h2 class="text-white text-center">Lista de Usuarios</h2>

<div class="container">
  <button
    type="button"
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#fromUsuario"
  >
    <i class="bi bi-file-earmark-text"></i>
    Crear Usuario
  </button>

<table class="table table-striped" >
  <thead class="table-info">
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Email</th>
    <th>Estado</th>
    <th>Rol</th>
    <th>Acciones</th>
  </tr>
  </thead>

  <tbody class="text-white">
  <tr *ngFor="let usuario of usuarios">
    <td>{{ usuario.idUsuario }}</td>
    <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
    <td>{{ usuario.email }}</td>
    <td>{{ usuario.estado }}</td>
    <td>{{ mostrarRolesEnTabla(usuario.roles) }}</td>

    <td>
      <button
        class="btn btn-danger"
        (click)="usuario.idUsuario && deleteUsuario(usuario.idUsuario)"
      >
        <i class="bi bi-trash3"></i>
        Eliminar
      </button>
      <button
        class="btn btn-warning text-white"
        [routerLink]="['edit', usuario.idUsuario]"
      >
        <i class="bi bi-pencil-square"></i>
        Editar
      </button>
      <button
        class="btn btn-info"
        data-bs-toggle="modal"
        data-bs-target="#fromQuitarRol"
        (click)="getRolesUser(usuario.roles, usuario.idUsuario)"
      >
        <i class="bi bi-person-x-fill"></i>
        Quitar Rol
      </button>
    </td>
  </tr>

  </tbody>
</table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="btn btn-dark" (click)="cargarData(pageActual-1)"><i class="bi bi-chevron-double-left text-white"></i></a>
      </li>
      <li class="page-item" *ngFor="let number of totalPagesArray" ><a class="btn btn-dark text-white" (click)="cargarData(number)">{{ number }}</a></li>
      <li class="page-item">
        <a class="btn btn-dark" (click)="cargarData(pageActual+1)"><i class="bi bi-chevron-double-right text-white"></i></a>
      </li>
    </ul>
  </nav>
</div>
<!--Modal Quitar Rol-->
<form class="needs-validation">
  <div
    class="modal fade"
    id="fromQuitarRol"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Quitar Rol</h5>
        </div>

        <div class="modal-body">
          <div class="form-row">
            <div *ngFor="let rol of rolesUsuario">
              <button
              ng-disabled="rolesUsuario.length > 1"
              type="submit"
                data-bs-dismiss="modal"
                class="btn btn-outline-danger"
                (click)="deleteRolUser(rol.idRol)"
                [disabled]="rolesUsuario.length === 1"
              >
                Eliminar {{ rol.nombre }}
              </button>
              <br/>
              <div *ngIf="rolesUsuario.length===1">
                <h6> Cada usuario debe tener al menos un rol agrege otro rol para poder eliminar un rol.</h6>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</form>

<!--Modal Crear Usuario-->
<form
  [formGroup]="formUsuario"
  (ngSubmit)="saveUsuario()"
  class="needs-validation"
>
  <div
    class="modal fade"
    id="fromUsuario"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Crear Usuario</h5>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group">
              <label>Nombre</label>
              <input
                required
                formControlName="nombre"
                type="text"
                class="form-control"
                placeholder="Ingrese Nombre"
              />
            </div>

            <div class="form-group">
              <label>Apellido</label>
              <input
                formControlName="apellido"
                type="text"
                class="form-control"
                placeholder="Ingrese Apellido"
              />
            </div>

            <div class="form-group">
              <label>Email</label>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="Ingrese Email"
              />
            </div>

            <div class="form-group">
              <label>contraseña</label>
              <input
                formControlName="password"
                type="password"
                class="form-control"
                placeholder="Ingrese password"
              />
            </div>

            <div class="form-group">
              <label>Estado</label>
              <select formControlName="estado" class="form-control">
                <option value="" selected>Seleccione Estado</option>
                <option value="A">Activo</option>
                <option value="I">Inactivo</option>
              </select>
            </div>

            <div class="form-group">
              <label>Rol</label>
              <select formControlName="rol" class="form-control" required>
                <option value="" selected>Seleccione Rol</option>
                <option *ngFor="let rol of roles" [value]="rol.idRol">
                  {{ rol.nombre }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            <i class="bi bi-caret-left-fill"></i> Cerrar
          </button>

          <button
            type="submit"
            data-bs-dismiss="modal"
            [disabled]="formUsuario.invalid"
            class="btn btn-success"
          >
            <i class="bi bi-upload"></i> Guardar
          </button>

        </div>
      </div>
    </div>
  </div>
</form>
